<div class="card">
  <div class="planet-avatar" style="background-color: {{ planet.data.color }}; width: {{ planet.data.size }}; height: {{ planet.data.size }};"></div>
  <h2>{{ planet.data.title }}</h2>
  <p>AU: {{ planet.data.au }}</p>
</div>
